// Цвета=====================
$dark: #202020;
$white: #F4F4F4;
$white2: #FFF;
$orange-bg: #F9BB88;
$orange-btn:#FF9646;
// ===========================


// Шаблоны===================

//  Жирность шрифта====================
%regular{
    font-weight: 400;
} 
%medium{
    font-weight: 500;
} 
%semibold{
    font-weight: 600;
} 
%bold{
    font-weight: 700;
} 
// =============================

